@font-face {
    font-family: 'DancingScript';
    src: url("../fonts/DancingScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DancingScriptBold';
    src: url("../fonts/DancingScript-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: DancingScript;
    background: #02010a;
    margin: 0px;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.col-1, .col-2, .col-3, .col-3-33, .col-4 {
    width: 100%;
}

#contenido {
    width: 100%;
    margin: auto;
}

header {
    background-color: #5b7989;
    border-radius:  10px 10px 0px 0px;
}

nav {
    float: right;
    margin: auto;
}

footer {
    background-color: #C6d5c5;
    border-radius:  0px 0px 10px 10px;
}

.col-2 div,
.col-1 div {
    padding: 20px;
}

.title {
    font-family: DancingScriptBold;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #02010a;
    padding: 15px 15px 15px 25px;
}

nav a,
nav a:visited,
nav a:active,
nav a:link,
nav a:hover {
    padding-left: 15px;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

nav a.disabled,
nav a:visited.disabled,
nav a:active.disabled,
nav a:link.disabled,
nav a:hover.disabled {
    text-decoration: none;
}

span.copyright {
    font-family: 'Courier New', Courier, monospace
}

img {
    border: 1px solid #000;
    -webkit-filter: drop-shadow(1px 1px 2px #02010a);
    filter: drop-shadow(1px 1px 2px #02010a);
    margin: auto;
}

.section-center {
    background-color: #82c3a6;
}

.galery,
.section-right,
.section-left {
    background-color: #d5c75f;
}

.col-3-33 div,
.section-right div,
.section-left div,
.section-center div {
    width: 90%;
    margin: auto;
    padding: 40px 0px 40px 0px;
}

.col-3-33 div,
.section-right div,
.section-left div {
    width: 88%;
    padding: 40px 0px 20px 0px;
}

.col-3-33 div {
    padding: 20px 0px 10px 0px;
}

.section-right div img,
.section-left div img {
    margin-bottom: 15px;
}

.col-3-33 div img,
.section-right div img,
.section-left div img,
.section-center div img {
    width: 99%;
}

.galery .col-3-33:nth-child(1) div img {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.galery .col-3-33:nth-child(3) div img {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}

.galery .col-3-33:nth-child(even) div img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.section-left div img:hover {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    border: 2px;
    -webkit-filter: drop-shadow(1px 1px 2px #82c3a6);
    filter: drop-shadow(1px 1px 2px #82c3a6);
}

.section-right div img:hover {
    transform: translate(20px, -5px);
    -ms-transform: translate(20px, -5px);
    -webkit-transform: translate(20px, -5px);
    border: 2px;
    -webkit-filter: drop-shadow(1px 1px 2px #82c3a6);
    filter: drop-shadow(1px 1px 2px #82c3a6);
}

@media screen and (min-width: 900px) {
    #contenido {
      width: 900px;
    }
    .col-1 {
        width: 25%;
    }
    .col-2 {
        width: 50%;
    }
    .col-3 {
        width: 75%;
    }
    .col-3-33 {
        width: 33.3%;
    }
}